*.pyc
.DS_Store
pycrires/_version.py
docs/_build
docs/api
docs/.ipynb_checkpoints/
docs/header.csv
docs/header.xlsx
docs/calib/
docs/config/
docs/product/
docs/tmp/
docs/raw/
docs/files.json
docs/skycalc_temp.fits
build/
dist/
pycrires.egg-info/
.coverage*
.pytest_cache/
htmlcov/
coverage.xml
.tox/
calib/
product/
tmp/
tests/calib/
tests/config/
tests/product/
tests/tmp/
tests/raw/
tests/files.json
tests/header.csv
tests/header.xlsx
